button{
  background-color: #ffffff;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: #e7e7e7;
}

button:active {
  background-color: #ececec;
}
.interface {
  text-align: center;
}
.stats {
  text-align: center;
}

.combat {
  text-align: center;
}

.town {
  text-align: center;
}
.town button {
  width: 10%;

}


/* these are all used to properly color the health bars in different browsers */
#monster_health_bar {
  -webkit-appearance: none;
  appearance: none;
  color: red;
}
#monster_health_bar::-webkit-progress-bar {
    background: whitesmoke;
  }
#monster_health_bar::-webkit-progress-value {
  background: red;
}
#monster_health_bar::-moz-progress-bar {
  background-color: #ff0000 !important;
}
#health_bar {
  -webkit-appearance: none;
  appearance: none;
  color: rgb(0, 255, 0);
}
#health_bar::-webkit-progress-bar {
    background: whitesmoke;
  }
#health_bar::-webkit-progress-value {
  background-color: rgb(0, 255, 0);
}
#health_bar::-moz-progress-bar {
  background-color: rgb(0, 255, 0) !important;
  
}
