


.interface {
  text-align: center;
}
.stats {
  text-align: center;
}

.combat {
  text-align: center;
}

.town {
  text-align: center;
}
.town button {
  width: 10%;

}



/* these are all used to properly color the health bars in different browsers */
#monster_health_bar {
  -webkit-appearance: none;
  appearance: none;
  color: red;
}
#monster_health_bar::-webkit-progress-bar {
    background: whitesmoke;
  }
#monster_health_bar::-webkit-progress-value {
  background: red;
}
#monster_health_bar::-moz-progress-bar {
  background-color: #ff0000 !important;
}
#health_bar {
  -webkit-appearance: none;
  appearance: none;
  color: rgb(0, 255, 0);
}
#health_bar::-webkit-progress-bar {
    background: whitesmoke;
  }
#health_bar::-webkit-progress-value {
  background-color: rgb(0, 255, 0);
}
#health_bar::-moz-progress-bar {
  background-color: rgb(0, 255, 0) !important;
  
}


#mana_bar {
  -webkit-appearance: none;
  appearance: none;
  color: blue;
}
#mana_bar::-webkit-progress-bar {
    background: whitesmoke;
  }
#mana_bar::-webkit-progress-value {
  background-color: blue;
}
#mana_bar::-moz-progress-bar {
  background-color: blue !important;
  
}
